<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="TreibjagdTestEntities" connectionString="metadata=res://*/Treibjagd.csdl|res://*/Treibjagd.ssdl|res://*/Treibjagd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql.ausbildung.tsbw.de;initial catalog=TreibjagdTest;user id=jaeger;password=Treibjagd2024!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace"/>
	</connectionStrings>
</configuration>
